<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>３D足場 - 入力/編集画面</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css">
	<script src="js/jquery-3.2.1.min.js"></script>
</head>

<body>

	<!--modal-->
	<div id="modal-overlay"></div>


<!-- 確認画面 -->
	<div id="modal">
		<div class="modalContents check" style="display: block;">
			<div class="contentsInner">
				<div class="head-title text_green ico_delete">登録内容の削除</div>

				<div class="list">
					<p class="text">このクライアントを削除してよろしいですか？</p>

					<div class="btnArea">
						<button class="btn_m _black">キャンセル</button>
						<button class="btn_m _red">削除</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- /確認画面 -->

	<!--/modal-->

</body>

</html>
