<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>3Dプランオンマップ</title>
	<script src="js/jquery-3.2.1.min.js"></script>
</head>

<body>
	<div class="contents">
		<div class="innerWrap">
			<h1>3Dプランオンマップ - テンプレート一覧</h1>

			<strong>管理画面</strong>
			<ul style="margin-bottom: 50px;">
				<li><a href="login.html" target="_blank">ログイン画面</a></li>
				<li><a href="list.html" target="_blank">一覧画面</a></li>
				<li><a href="_modal_new.html" target="_blank">入力/編集画面 - (モーダル)</a></li>
				<li><a href="_modal_check.html" target="_blank">確認画面 - (モーダル)</a></li>
			</ul>

			<strong>パーツ</strong>
			<ul style="margin-bottom: 50px;">
				<li><a href="_parts.html" target="_blank">パーツ</a></li>
			</ul>

		</div>
	</div>

	<style type="text/css">
		li {
			margin-bottom: 15px;
		}
	</style>
</body>

</html>