@charset 'utf-8';

html {
	color: #000;
	background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, td, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}


a {
	color: #000;
	text-decoration: none;
}

abbr, acronym {
	border: 0;
	font-variant: normal;
}

input, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #C9C9C9;
	border-radius: 4px;
	outline: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-size: 100%;
}

textarea {
	resize: none;
}

::placeholder {
	padding-left: 3px;
	color: #CCC;
}

select::-ms-expand {
	display: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

button:hover {}

form {}

legend {
	color: #000;
}

:focus {
    outline: none;
}

